footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 30px;
  border-top: 1px solid #eaeaea;
  background-color: white;
}
.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-icons {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  font-weight: bold;
  cursor: pointer;
}
@keyframes icons-doong-doong {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer-icons_img {
  width: 50px;
  margin-bottom: 5px;
}

.footer-icons:hover {
  animation: 1.5s icons-doong-doong;
}
